<div class="header__top">
  <h2>Salarios Inactivos</h2>
</div>

<div class="search__criteria">
  <div>
    <input
      class="input__search"
      type="text"
      placeholder="Buscar..."
      (input)="filterSalaries($event)"
    />
  </div>
  <div class="options">
    <button routerLink="/salaries" class="btn-add">
      <svg
        width="10"
        height="10"
        viewBox="0 0 17 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.34703 10.1647H0.382324V5.92941H6.34703V0H10.5823V5.92941H16.6176V10.1647H10.5823V16.1647H6.34703V10.1647Z"
          fill="white"
        />
      </svg>
      Salarios Activos
    </button>
  </div>
</div>

<div class="container__table">
  <table
    class="table"
    *ngIf="filteredSalaries && filteredSalaries.length > 0; else noData"
  >
    <thead>
      <tr>
        <th>Puestos </th>
        <th>Salario Base</th>
        <th>Bono</th>
        <th>Deducciones</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salary of filteredSalaries">
        <td>{{ getWorkerPosition(salary.workerId) }}</td>
        <td>{{ salary.baseSalary }}</td>
        <td>{{ salary.bonus }}</td>
        <td>{{ salary.deductions }}</td>
        <td class="actions">
          <div>
            <button (click)="restoreSalary(salary.id)" class="btn__edit">
              Restaurar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noData>
    <div class="no-data-message">No se encontraron salarios inactivos.</div>
  </ng-template>
</div>
